In [40]:
import pandas as pd
file = pd.read_csv('./telecust1.csv')

In [41]:
h = file.head(5)
t = file.tail(5)
print(h)
print(t)

   region   age  marital  address income   ed  retire  gender  reside  custcat
0       2  35.0        1      9.0     64    4       0       0     2.0        1
1       3  23.0        1      7.0    136  NaN       0       0     6.0        4
2       3  52.0        1     24.0    116    1       0       1     2.0        3
3       2  34.0        0     12.0     33    2       0       1     1.0        1
4       2  30.0        1      9.0     30    1       0       0     4.0        3
     region   age  marital  address income ed  retire  gender  reside  custcat
995       3  39.0        0      0.0     27  3       0       1     3.0        1
996       1  34.0        0      2.0     22  5       0       1     1.0        1
997       3  59.0        0     40.0    944  5       0       1     1.0        4
998       3  49.0        0     18.0     87  2       0       1     1.0        3
999       3  36.0        1      7.0     39  3       0       1     3.0        2

In [42]:
file.isnull().sum()

region     0
age        2
marital    0
address    1
income     1
ed         1
retire     0
gender     0
reside     1
custcat    0
dtype: int64

In [43]:
from math import nan


file.replace('?', nan, inplace=True)
file.isnull().sum()

region     0
age        2
marital    0
address    1
income     2
ed         2
retire     0
gender     0
reside     1
custcat    0
dtype: int64

In [45]:
avg = file['ed'].astype('float').mean()
file['ed'] = file['ed'].replace(nan, avg)

file.isnull().sum()

region     0
age        2
marital    0
address    1
income     2
ed         0
retire     0
gender     0
reside     1
custcat    0
dtype: int64